<div id="<%= dom_id ad %>">
  <p>
    <strong>Title:</strong>
    <%= ad.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ad.description %>
  </p>
  <%= button_to "Destroy this ad", ad_path(ad), method: :delete %>
</div>
